* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-container img {
    width: 100%;
}

.login-container {
    justify-content: center;
    align-items: center;
}
